@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --red: #e51e2a;
    --white: #fff;
    --dark: #121212;
}

body, html {
    background-color: var(--dark);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.logo {
    width: 150px;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-right: 20px;
}

nav a {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
}

nav a:hover {
    color: #e51e2a;
}


/* MAIN */

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    color: var(--white);
    overflow: hidden;
}

.text-main {
    width: 600px;
}

.circulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  var(--red);
    clip-path: circle(50% at bottom right);
}

h2 {
    font-size: 3rem;
}

h1 {
    color: var(--red);
    font-size: 8rem;
}

.text-main > p {
    text-align: justify;
    margin-bottom: 4rem;
}

.btn {
    color: var(--white);
    background-color: var(--red);
    padding: 10px 25px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    opacity: 0.8;
    transform: translateY(-10px);
}

.icones {
    margin-top: 8rem; 
    display: flex;
    align-items: center;
}

.icones span {
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: #222;
    margin-left: 45px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones span:hover {
    background-color: var(--red);
    transform: translateY(-10px);
    cursor: pointer;
}

.icones img {
    transform: scale(0.6);
    filter: invert(1);
}

.img-main {
    position: absolute;
    right: 0;
    bottom: -40px;
}

.img-main img {
    width: 200px;
}

.img1 {
    transform: rotate(-15deg);
}

.img2 {
    transform: rotate(5deg);
}

.img3 {
    transform: rotate(15deg);
}

.img4 {
    transform: rotate(-15deg);
}
