@charset "UTF-8";

@media (min-width: 800px) {
    .conteudo-cabecalho h1  {
        font-weight: 700;
        font-size: 78px;
        line-height: 94px;
        margin-bottom: 18px;  
    }

    .conteudo-cabecalho p {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 60px;
    }

    .btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        width: 162px;
    }

    .time {
        display: block;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
    }

    .placar img {
        width: 130px;
    }

    .placar .psg-logo {
        width: 159px;
        height: 159px;
    }

    .placar-jogo {
        font-weight: 600;
        font-size: 62px;
        line-height: 75px;
    }

    .texto-principal {
        width: 80vw;
        height: 510px;    
    }

    .texto-principal h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        width: 100%;
        margin-bottom: 24px; 
    }

    .texto-principal p {
        font-weight: 400;
        font-size: 18px;
        line-height: 170%;
        margin-bottom: 36px;
    }
    
    .noticias {
        margin: 125px 264px; 
    }
}