@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

body {
    color: var(--dark);
    background-color: var(--white);
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background-color: var(--white);
    transition: all.05s;
    position: fixed;
}

.logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo > span {
    color: var(--dark);
}

.navegacao > ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegacao ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navegacao ul li a:hover {
    color: var(--red);
}

.navegacao  i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color:  var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.bar:nth-child(1),
.bar:nth-child(3) {
    background-color: var(--red);
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}

.home-text {
    max-width: 37rem;
}

h4 {
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text > p {
    margin-bottom: 4rem;
}

.btn-home {
    padding: 15px 45px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.btn-home:hover {
    background-color: #fc4c35;
}

.home-img img {
    width: 100%;
}

@media screen and (max-width: 785px) {
    .navegacao {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo > .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo > .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo > .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        flex-direction: column;
        background-color: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin:  16px 0;
    }

    /* main */

    
}