@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #0F171E;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #1A242E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    border-bottom: rgba(255, 255, 255, 0.08) solid 1px;
}

.logo {
    width: 150px;
    display: inline-block;
}

#burguin {
    color: #fff;
    cursor: pointer;
    display: block;
}

nav {
    flex-basis: 100%;
    
}

nav > ul {
    margin: 0 15px;
    display: none;
}

nav > ul > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

nav > ul > li:nth-last-child(1) {
    border-bottom: none;
    padding-top: 5px;
}

nav a {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 0.98rem;
    padding: 17px;
}

/* main */

#bg {
    width: 100%;
    position: relative;  
}

#logo-boys {
    width: 250px;
    top: -56px;
    margin-left: 20px;
    position: relative;
}

section {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.5s;
}

.btn {
    color: #fff;
    background-color: #425265;
    padding: 15px 10px;
    border-radius: 5px;
    border-bottom: 1.5px solid #fff;
}

.btn:hover {
    background-color: #2d3846;
    opacity: 0.8;
}

.texto {
    color: #fff;
    text-align: justify;
    width: 80%;
    margin-bottom: 4rem;
}

.botao {
    color: #fff;
    background-color: #138ecc;
    padding: 25px 20px;
    border-radius: 5px;
    border-bottom: 3px solid #fff;
    margin-bottom: 2rem;
}

.botao:hover {
    background-color: #1497d9;
    opacity: 0.8;
}

.main-img {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.main-img img{
    height: auto;
    width: 100%;
    padding: 5px;
}

#cp {
    width: 365px;
    margin-left: 5px;
}

#luz {
    width: 437px;
}

#trem {
    width: 437px;
}

#sete {
    margin-right: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > img {
    width: 150px;
    margin-bottom: 2rem;
}

footer > p{
    color: #fff;
    margin-bottom: 1rem;
}